* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.landingPage {
    display: flex;
    flex-flow: wrap column;
}

/* Header */

.headerBox h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    background-color: #1F2937;
}

.headerLinks a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.headerLinks {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Hero Text */

.heroBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 150px;
    gap: 300px;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}


.heroText h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.heroText p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding-bottom: 10px;
}

.heroText button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    width: 125px;
    height: 40px;
    border-radius: 7px;
    border: 0;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 420px;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
}

.heroImage {
    width: 600px;
    height: 250px;
    object-fit: cover;
    padding-top: 30px;
}

/* Information */

.infoBox {
    margin-bottom: 100px;
}

.infoBox h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.infoContainers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 40px;
}

.infoContainers img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.infoContainers figcaption {
    width: 200px;
    height: auto;
    text-align: center;
}