* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.landingPage {
    display: flex;
    flex-flow: wrap column;
}

/* Header */

.headerBox h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    background-color: #1F2937;
}

.headerLinks a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.headerLinks {
    display: flex;
    gap: 40px;
    align-items: center;
}