@import url(https://fonts.googleapis.com/css2?family=Roboto);

.section-one-container {
    background-color: #1F2937;
}

.section-one-header h2 {
    font-size: 24px;
    color: #F9FAF8;
    font-family: "Roboto";
}





.section-one-image {
    max-width: 500px;
    max-height: 500px;
}